h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.head,
.left_arm,
.torso,
.right_arm,
.left_leg,
.right_leg {
  background-color: #5f93e8;
}

.head {
  width: 200px;
  margin: 0 auto;
  height: 150px;
  border-radius: 200px 200px 0 0;
  margin-bottom: 10px;
}

.head:hover {
  width: 300px;
  transition: 1ms ease-in-out;
}

.upper_body {
  width: 300px;
  height: 150px;
  display: flex;
  /* align-content: center; */
  margin: auto;
}
/* notice that the width of the (.left_arm, .right_arm),
torso which is 40px *2 and 200px respectively, with the .left_arm and .right_arm 10px *2 margin equates .upperbody's 300px */
.left_arm,
.right_arm {
  width: 40px;
  height: 125px;
  border-radius: 100px;
}

.left_arm {
  margin-right: 10px;
}

.right_arm {
  margin-left: 10px;
}

.torso {
  width: 200px;
  height: 200px;
  border-radius: 0 0 50px 50px;
}

.lower_body {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: flex;
}
/* also notice that the width of the (.left_leg, .right_leg) 
which is 40px *2, with the .left_leg 45px *2, *2 because the
 .right_leg will have the same 45px margin on the right for
  uniformity and .right_leg left margin, which is 30px,
  therefore all equates .lowerbody's 200px */

.left_leg,
.right_leg {
  width: 40px;
  height: 120px;
  border-radius: 0 0 100px 100px;
}

.left_leg {
  margin-left: 45px;
}

.left_leg:hover {
  /* -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  -ms-transform: rotate(20deg); */
  transform: rotate(20deg);
}

.right_leg {
  margin-left: 30px;
}

.left_eye,
.right_eye {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  background-color: white;
}

.left_eye {
  position: relative;
  top: 100px;
  left: 40px;
}

.right_eye {
  position: relative;
  top: 80px;
  left: 120px;
}
