h2 {
  color: blue;
}
.boxmodel {
  border: 5px solid red;
  display: inline-block;
  padding: 5px 20px 5px 20px;
  /* top right bottom left */
  /* space inside */
  margin: 0px 20px;
  /* first means top and bottom, this means left and right */
  /* space outside */
  width: 33px;
  height: 43px;
}

p {
  font-size: 20px;
}
span {
  font-size: 5em;
  /* and this means we want the size to be 5 times equal to the containing element, for example 5 times the 20px for the containing element */
}
/* then rem is relative to the root element, which is html, so x times bigger than the body font size */
